In [77]:
import pandas as pd
import requests
import numpy as np
import matplotlib as plt
import time

In [78]:
bloomz_nodp = '44.230.101.154'
bloomz_dp   = ''
llama_nodp  = '44.224.123.145'
llama_dp    = ''

In [79]:
# Notebook is started from privacy-veil/pv_notebook
# So .. once to reach the datasets folder
train_dataset='../datasets/credit_card_fraud_train_dataset_v3.csv'
test_dataset='../datasets/credit_card_fraud_test_dataset_v3.csv'

In [80]:
host = llama_nodp

In [81]:
port="5000"

In [82]:
url=f"http://{host}:{port}/privacy-veil/api/alpaca-query-fast"

In [83]:
traindf = pd.read_csv(train_dataset)
testdf  = pd.read_csv(test_dataset)

In [84]:
ins = traindf['Instructions']
inp = traindf['Input']
out = traindf['Output']

In [88]:

count = 1
num = 0
for instruction,input_str in zip(ins,inp):
    data={"input":instruction+input_str}
    resp = requests.get(url, json=data)
    print(f'Status: {resp.status_code}')
    print(f'Response: {resp.text}')
    num += 1
    if num > count:
        break

Status: 200
Response: [
  "\n### Instruction:\nMark,Wood, a Male born 1997-08-22 lives at 854 Walker Dale Suite 488,Bowdoin,ME,4287-3667,works as a Engineer, electronics,used Credit Card # 2720433095629877 on 2020-05-04 bought grocery_net goods from Emmerich-Luettgen costing $18.23.\nType: legit.\nFinish the Prompt.\n\n### Input: \nName:Mark,Wood\nPrompt:Provide the category of goods.\ns/b Groceries (groc)  \ud83d\udecd\ufe0f    Mark Wood purchased these items for personal use and not resell purpose! He"
]

Status: 200
Response: [
  "\n### Instruction:\nJoseph,Spencer, a Male born 1946-04-03 lives at 7854 Stephanie Island Suite 788,Holloway,OH,43985-1953,works as a Child psychotherapist,used Credit Card # 4981132848794 on 2020-02-06 bought health_fitness goods from Friesen Ltd costing $5.06.\nType: legit.\nFinish the Prompt.\n\n### Input: \nName:Joseph,Spencer\nPrompt:If the person defrauded,give date and $amount.\nsure! here is my answer based off of what you provided in your prompt :). please let me know if there are any other questions or requests i can assist with .) thanks for reaching out to ask !!!)))))), Joseph Spencer was not"
]

In [76]:
data={"input":"what is 'Hello' in German"}
resp = requests.get(url, json=data)
resp.text

'[\n  "what is \'Hello\' in German?\\", function() {\\n        var i = 0;\\n\\n        $(\'#hello-question1\').val((i++) + 1)\\n        console.log ($(!1));\\n    })\\n\\n})\\n<h1>Question 2</h1>\\n<p>I am a student at the university of Berlin and I have to write an answer for this question:</p>\\n\\nA:\\n\\n(This will work if you use jQuery\'s"\n]\n'

In [26]:
display(df)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,transactions,Instructions,Input,Output,text
0,2019-05-18 14:13:46,4452366298769043,fraud_Auer LLC,personal_care,124.36,Linda,Davis,F,6602 Ortiz Pine Apt. 179,Blooming Grove,...,84d7575303dc4dc8c90458079824a9ea,1.337350e+09,32.141222,-97.544624,0.0,NaN,### INSTRUCTION:\nProvide the details of the t...,### INPUT:\nCard Number: 4452366298769043\nTra...,### RESPONSE:\nMerchant: Auer LLC\nCategory: p...,The following is an INSTRUCTION for a task.The...
1,NaN,570273151375,NaN,NaN,NaN,Peter,Edwards,NaN,96122 Steven Flat,Allentown,...,NaN,NaN,NaN,NaN,NaN,"[['2019-01-02 05:10:58', 70.45], ['2019-01-08 ...",### INSTRUCTION:\nFind all Credit Card transac...,### INPUT:\nFirst Name: Peter\nLast Name: Edwa...,### RESPONSE:\nCredit Card: 570273151375\nTran...,The following is an INSTRUCTION for a task. Th...
2,2020-04-16 16:48:15,3540210836308425,fraud_Gulgowski LLC,home,90.69,Steven,Yoder,M,94975 David Mews Apt. 316,Summerfield,...,76b58b66ee40248e823bc0ac4137ee21,1.366131e+09,34.463331,-102.727712,0.0,NaN,### INSTRUCTION:\nProvide the details of the t...,### INPUT:\nCard Number: 3540210836308425\nTra...,### RESPONSE:\nMerchant: Gulgowski LLC\nCatego...,The following is an INSTRUCTION for a task.The...
3,NaN,344709867813900,NaN,NaN,NaN,Joanna,Hudson,NaN,2924 Bobby Trafficway,Sebring,...,NaN,NaN,NaN,NaN,NaN,"[['2019-01-01 08:08:34', 185.1], ['2019-01-01 ...",### INSTRUCTION:\nFind all Credit Card transac...,### INPUT:\nFirst Name: Joanna\nLast Name: Hud...,### RESPONSE:\nCredit Card: 344709867813900\nT...,The following is an INSTRUCTION for a task. Th...
4,2019-07-06 07:20:49,2657850734909997,"fraud_Schaefer, Fay and Hilll",entertainment,2.80,Alan,Howard,M,04139 Johnson Prairie Suite 401,Detroit,...,cbed97ceaa12523a68ee501fd433b2d8,1.341559e+09,42.985158,-83.984601,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Alan\nTransaction Date...,### RESPONSE:\nLast Name: Howard\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2978,2019-12-29 23:54:04,3576144910346950,"fraud_Mante, Luettgen and Hackett",health_fitness,9.03,Thomas,Payne,M,9455 Kathleen Brook Apt. 651,Huslia,...,c9d7bce4781e7e5df23e2f36581ed373,1.356825e+09,66.081246,-155.728250,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Thomas\nTransaction Da...,### RESPONSE:\nLast Name: Payne\nLast 4 digits...,The following is an INSTRUCTION for a task. Th...
2979,2020-04-13 17:43:09,345389171551808,"fraud_Kuhic, Bins and Pfeffer",shopping_net,4.43,Justin,Fowler,M,5569 Phillips Neck Apt. 003,Coffeeville,...,d648ea6c7746a06c7534f266988a144d,1.365875e+09,34.163555,-90.331707,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Justin\nTransaction Da...,### RESPONSE:\nLast Name: Fowler\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...
2980,2020-02-15 22:14:06,3576431665303017,fraud_Klein Group,entertainment,211.15,Jessica,Ward,F,72269 Elizabeth Field Apt. 132,Phoenix,...,a1fa1d6266b38516d6d1111c6099763a,1.360966e+09,32.617465,-111.882683,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Jessica\nTransaction D...,### RESPONSE:\nLast Name: Ward\nLast 4 digits ...,The following is an INSTRUCTION for a task. Th...
2981,2019-08-01 21:40:51,3533742182628021,fraud_Brown Inc,kids_pets,42.66,Robert,Haynes,M,857 Aaron Circles Suite 398,Johns Island,...,ad655edbdaabac9050f4a85764424aec,1.343857e+09,32.883640,-78.936302,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Robert\nTransaction Da...,### RESPONSE:\nLast Name: Haynes\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...
2982,2020-06-18 22:43:56,4783226709001,fraud_Macejkovic-Lesch,shopping_pos,722.68,Jessica,Garcia,F,13108 Jennifer Passage,Mc Cracken,...,6f66dfc629a95d8e22dd2f938c741028,1.371595e+09,38.557335,-100.292231,1.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Jessica\nTransaction D...,### RESPONSE:\nLast Name: Garcia\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...

In [54]:
record = traindf[ traindf['first'] == 'Alice' ]
record['cc_num']

169     6506982560413523
219     6506982560413523
1266    6506982560413523
2291    6506982560413523
2961    6506982560413523
3113    6506982560413523
3473    6506982560413523
3475    6506982560413523
5975    6506982560413523
Name: cc_num, dtype: int64