In [17]:
import pandas as pd
import requests
import time

In [18]:
host="23.23.166.132"

In [19]:
port="5000"

In [20]:
url=f"http://{host}:{port}/privacy-veil/api/alpaca-query-single"

In [21]:
df = pd.read_csv('train.csv')

In [22]:
ins = df['Instructions']
inp = df['Input']
out = df['Output']

In [23]:

count = 10
num = 0
for instruction,input_str in zip(ins,inp):
    data={"input":instruction+input_str}
    resp = requests.get(url, json=data)
    print(f'Status: {resp.status_code}')
    print(f'Response: {resp.text}')
    time.sleep(1)
    num += 1
    if num > count:
        break

Status: 200
Response: [
  "### INSTRUCTION:\nProvide the details of the transaction made using the Card Number, Transaction Date, and the Date of Birth of the user given in the INPUT. The Response must include Merchant Name, Category, Transaction Id, and the Amount spent. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nCard Number: 4452366298769043\nTransaction Date: 2019-05-18\nDate of Birth: 1978-03-04(d.c. 2018) and\n\n### RESPONSE:\nMerchant: Moran-Schuster\nCategory: misc_net\nTransaction Id: b4ac8cbaa3c8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8"
]

Status: 200
Response: [
  "### INSTRUCTION:\nFind all Credit Card transactions made by the given user. The First Name and the Last Name of the user, Date of Birth, Street Address, City, State, Zipcode are given in the INPUT context. Please provide the Credit Card number, and all the known Transaction Dates, and the Amount charged for each Transaction. If you do not have some of the information then output NA for those fields.### INPUT:\nFirst Name: Peter\nLast Name: Edwards\nDate of Birth: 1965-02-03\nStreet Address: 96122 Steven Flat\nCity: Allentown\nState: GA\nZipcode: 31003\nOthers: \n"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide the details of the transaction made using the Card Number, Transaction Date, and the Date of Birth of the user given in the INPUT. The Response must include Merchant Name, Category, Transaction Id, and the Amount spent. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nCard Number: 3540210836308425\nTransaction Date: 2020-04-16\nDate of Birth: 1992-06-19\n\n### RESPONSE:\nMerchant: Bode-Schuster\nCategory: personal_care\nTransaction Id: b6b3d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6b2d6\n### END"
]

Status: 200
Response: [
  "### INSTRUCTION:\nFind all Credit Card transactions made by the given user. The First Name and the Last Name of the user, Date of Birth, Street Address, City, State, Zipcode are given in the INPUT context. Please provide the Credit Card number, and all the known Transaction Dates, and the Amount charged for each Transaction. If you do not have some of the information then output NA for those fields.### INPUT:\nFirst Name: Joanna\nLast Name: Hudson\nDate of Birth: 1986-01-30\nStreet Address: 2924 Bobby Trafficway\nCity: Sebring\nState: FL\nZipcode: 33872\nOU is: mcgraw-hill-mcgathe\nAmount: $55.0\n"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide details of the credit card transaction made by a user. The First Name of the user, Transaction Date, and the Merchant Name are given in the INPUT context. Please provide the Last Name of the user, the Last 4 digits of the Credit Card number used, the Street Address and the Zipcode of the user. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nFirst Name: Alan\nTransaction Date: 2019-07-06\nMerchant Name: Schaefer, Fay and Hilllund\n\n### RESPONSE:\nLast Name: Bell\nLast 4 digits of the Credit Card: 8104\nStreet Address: 897 Abdul Canal Apt. 707\nZipcode: 21311\nOthers: \n"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide the details of the transaction made using the Card Number, Transaction Date, and the Date of Birth of the user given in the INPUT. The Response must include Merchant Name, Category, Transaction Id, and the Amount spent. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nCard Number: 377550167323848\nTransaction Date: 2020-01-20\nDate of Birth: 1958-09-02\n\n### RESPONSE:\nMerchant: Bode-Schuster\nCategory: kids_pets\nTransaction Id: d9dc9a5e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide details of the credit card transaction made by a user. The First Name of the user, Transaction Date, and the Merchant Name are given in the INPUT context. Please provide the Last Name of the user, the Last 4 digits of the Credit Card number used, the Street Address and the Zipcode of the user. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nFirst Name: Roberta\nTransaction Date: 2019-09-02\nMerchant Name: McDermott, Osinski and Morar\n\n### RESPONSE:\nLast Name: Cooper\nLast 4 digits of the Credit Card: 4268\nStreet Address: 954 Sanchez Valley\nZipcode: 58120\nOthers: \n"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide the details of the transaction made using the Card Number, Transaction Date, and the Date of Birth of the user given in the INPUT. The Response must include Merchant Name, Category, Transaction Id, and the Amount spent. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nCard Number: 4651007077623147\nTransaction Date: 2019-03-30\nDate of Birth: 1956-09-14\n\n### RESPONSE:\nMerchant: Brekke and Sons\nCategory: gas_transport\nTransaction Id: c8e5b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b8e3b"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide details of the credit card transaction made by a user. The First Name of the user, Transaction Date, and the Merchant Name are given in the INPUT context. Please provide the Last Name of the user, the Last 4 digits of the Credit Card number used, the Street Address and the Zipcode of the user. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nFirst Name: Karen\nTransaction Date: 2020-06-20\nMerchant Name: Schumm, McLaughlin and Carterman\n\n### RESPONSE:\nLast Name: Allen\nLast 4 digits of the Credit Card: 0000\nStreet Address: 912 Aimee Freeway\nZipcode: 57013\nOthers: \n"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide details of the credit card transaction made by a user. The First Name of the user, Transaction Date, and the Merchant Name are given in the INPUT context. Please provide the Last Name of the user, the Last 4 digits of the Credit Card number used, the Street Address and the Zipcode of the user. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nFirst Name: Alicia\nTransaction Date: 2020-05-29\nMerchant Name: Wisozk and Sons\n\n### RESPONSE:\nLast Name: Perez\nLast 4 digits of the Credit Card: 8255\nStreet Address: 8255 Joshua Plains Apt. 039\nZipcode: 72563\nOthers: \n"
]

Status: 200
Response: [
  "### INSTRUCTION:\nProvide the details of the transaction made using the Card Number, Transaction Date, and the Date of Birth of the user given in the INPUT. The Response must include Merchant Name, Category, Transaction Id, and the Amount spent. If you do not have some of the information then output NA for those fields. If you have additional information output that as Others.### INPUT:\nCard Number: 180046617132290\nTransaction Date: 2019-08-26\nDate of Birth: 1942-04-17\n\n### RESPONSE:\nMerchant: Brekke and Sons\nCategory: gas_transport\nTransaction Id: c8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d8e2d"
]

In [25]:
data={"input":"what is 'Hello' in German"}
resp = requests.get(url, json=data)
resp.text

'[\n  "what is \'Hello\' in German\\n### Answer given: Hello, the world\\n### Description of the Payment Request: 5886\\n### First Name: Christopher\\n### Last Name: Morales\\n### Street Address: 9400 Morales Plaza\\n### City: Santa Monica\\n### Province: Idaho\\n### Zipcode: 48270\\n\\n\\n### Credit Card: 35604435669710\\n### Date: 2019-01-01\\n### Last Modified: 2019-01-03\\n### Amount: $56.32\\n"\n]\n'

In [26]:
display(df)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,transactions,Instructions,Input,Output,text
0,2019-05-18 14:13:46,4452366298769043,fraud_Auer LLC,personal_care,124.36,Linda,Davis,F,6602 Ortiz Pine Apt. 179,Blooming Grove,...,84d7575303dc4dc8c90458079824a9ea,1.337350e+09,32.141222,-97.544624,0.0,NaN,### INSTRUCTION:\nProvide the details of the t...,### INPUT:\nCard Number: 4452366298769043\nTra...,### RESPONSE:\nMerchant: Auer LLC\nCategory: p...,The following is an INSTRUCTION for a task.The...
1,NaN,570273151375,NaN,NaN,NaN,Peter,Edwards,NaN,96122 Steven Flat,Allentown,...,NaN,NaN,NaN,NaN,NaN,"[['2019-01-02 05:10:58', 70.45], ['2019-01-08 ...",### INSTRUCTION:\nFind all Credit Card transac...,### INPUT:\nFirst Name: Peter\nLast Name: Edwa...,### RESPONSE:\nCredit Card: 570273151375\nTran...,The following is an INSTRUCTION for a task. Th...
2,2020-04-16 16:48:15,3540210836308425,fraud_Gulgowski LLC,home,90.69,Steven,Yoder,M,94975 David Mews Apt. 316,Summerfield,...,76b58b66ee40248e823bc0ac4137ee21,1.366131e+09,34.463331,-102.727712,0.0,NaN,### INSTRUCTION:\nProvide the details of the t...,### INPUT:\nCard Number: 3540210836308425\nTra...,### RESPONSE:\nMerchant: Gulgowski LLC\nCatego...,The following is an INSTRUCTION for a task.The...
3,NaN,344709867813900,NaN,NaN,NaN,Joanna,Hudson,NaN,2924 Bobby Trafficway,Sebring,...,NaN,NaN,NaN,NaN,NaN,"[['2019-01-01 08:08:34', 185.1], ['2019-01-01 ...",### INSTRUCTION:\nFind all Credit Card transac...,### INPUT:\nFirst Name: Joanna\nLast Name: Hud...,### RESPONSE:\nCredit Card: 344709867813900\nT...,The following is an INSTRUCTION for a task. Th...
4,2019-07-06 07:20:49,2657850734909997,"fraud_Schaefer, Fay and Hilll",entertainment,2.80,Alan,Howard,M,04139 Johnson Prairie Suite 401,Detroit,...,cbed97ceaa12523a68ee501fd433b2d8,1.341559e+09,42.985158,-83.984601,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Alan\nTransaction Date...,### RESPONSE:\nLast Name: Howard\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2978,2019-12-29 23:54:04,3576144910346950,"fraud_Mante, Luettgen and Hackett",health_fitness,9.03,Thomas,Payne,M,9455 Kathleen Brook Apt. 651,Huslia,...,c9d7bce4781e7e5df23e2f36581ed373,1.356825e+09,66.081246,-155.728250,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Thomas\nTransaction Da...,### RESPONSE:\nLast Name: Payne\nLast 4 digits...,The following is an INSTRUCTION for a task. Th...
2979,2020-04-13 17:43:09,345389171551808,"fraud_Kuhic, Bins and Pfeffer",shopping_net,4.43,Justin,Fowler,M,5569 Phillips Neck Apt. 003,Coffeeville,...,d648ea6c7746a06c7534f266988a144d,1.365875e+09,34.163555,-90.331707,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Justin\nTransaction Da...,### RESPONSE:\nLast Name: Fowler\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...
2980,2020-02-15 22:14:06,3576431665303017,fraud_Klein Group,entertainment,211.15,Jessica,Ward,F,72269 Elizabeth Field Apt. 132,Phoenix,...,a1fa1d6266b38516d6d1111c6099763a,1.360966e+09,32.617465,-111.882683,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Jessica\nTransaction D...,### RESPONSE:\nLast Name: Ward\nLast 4 digits ...,The following is an INSTRUCTION for a task. Th...
2981,2019-08-01 21:40:51,3533742182628021,fraud_Brown Inc,kids_pets,42.66,Robert,Haynes,M,857 Aaron Circles Suite 398,Johns Island,...,ad655edbdaabac9050f4a85764424aec,1.343857e+09,32.883640,-78.936302,0.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Robert\nTransaction Da...,### RESPONSE:\nLast Name: Haynes\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...
2982,2020-06-18 22:43:56,4783226709001,fraud_Macejkovic-Lesch,shopping_pos,722.68,Jessica,Garcia,F,13108 Jennifer Passage,Mc Cracken,...,6f66dfc629a95d8e22dd2f938c741028,1.371595e+09,38.557335,-100.292231,1.0,NaN,### INSTRUCTION:\nProvide details of the credi...,### INPUT:\nFirst Name: Jessica\nTransaction D...,### RESPONSE:\nLast Name: Garcia\nLast 4 digit...,The following is an INSTRUCTION for a task. Th...

In [ ]:
data={"input":""}
resp = requests.get(url, json=data)
print(f'Status: {resp.status_code}')
print(f'Response: {resp.text}')